/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ------>>Shared Style<---------- */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.btn-primary:hover {
    background: #fff;
    color: #FF900E;
    transition: 0.3s;
}

.text-light-gray {
    color: var(--Dark-03, #727272);
    padding: 0 0 20px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Dark-01, #131313);
    padding: 20px 0;
}

/*------------->>header part style <<----------- */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav section style  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

/*------------->>banner section style<<----------- */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 70px 0 50px;
}

.banner-title {
    font-size: 4rem;
    color: var(--Dark-01, #131313);
    font-weight: 700;
}

.banner-description {
    font-size: 1rem;
    line-height: 26px;
    padding: 20px 0;
}

.banner img {
    width: 100%;
}

/* main style */

main {
    max-width: 1200px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
    /* padding: 0 50px; */
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 45px;
    margin-bottom: 24px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

.fetr_des {
    padding-bottom: 20px;
}

/* Features style */
.features {
    display: flex;
    margin: 100px 0 50px;
    gap: 100px;
}

.feature-img {
    width: 110%;
}

.features-title {
    border-left: 5px solid #FF900E;
    border-radius: 10px;
    padding: 0 0 0 20px;
}

.feature-description {
    padding-top: 30px;
}

.feature-img img {
    width: 90%;
    height: 98%;
    /* margin-left: 20px; */
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 210px;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 80px;
    left: -50px;
}

.ten-years-badge h2 {
    font-size: 2.8rem;
    font-weight: 700;
}

.ten-years-badge p {
    font-size: 1rem;
    font-weight: 500;
}

.card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px 0;
    padding: 30px 30px 10px;
}

.card h4 {
    margin-bottom: 10px;
}

/* facts style */
.facts {
    margin: 80px 0;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    /* gap: 100px; */
    margin: 50px
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
    text-align: center;
}

.facts-card-container .card img {
    margin-bottom: 10px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}

.facts-card-container .card-title {
    font-size: 1.25rem;
    color: #727272;
    font-weight: 600;
}

/* sponsors style */
.sponsors {
    text-align: center;
}

.sponsors-descrp {
    margin: 0 300px;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

/* responsive style */
/* For mobile device */

@media screen and (max-width:576px) {

    /* header part responsive  */
    header {
        padding: 10px;
    }

    nav {
        flex-direction: column;
    }

    ul li {
        margin: 20px 10px;
    }

    .banner-content {
        padding: 0;
    }

    .banner-title {
        font-size: 2rem;
        padding-top: 20px;
    }

    .btn-primary {
        margin-bottom: 20px
    }

    /* teams part style  */
    .teams-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content {
        padding-top: 30px;
    }

    /* features style */
    .features {
        gap: 20px;
    }

    .feature-img {
        width: 100%;
        margin: 20px;
    }

    .feature-description {
        margin: 0 20px;
    }

    .features-title {
        margin: 0 10px;
    }

    .card {
        margin: 0 20px;
    }

    .ten-years-badge {
        bottom: 70px;
        left: 130px
    }

    /* facts style  */
    
.facts {
    margin: 0;
}
    .facts-content {
        padding: 0 20px;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /* sponsors responsive */
    .sponsors-img-container {
        text-align: center;
        align-items: center;
        gap: 30px;
    }

    .sponsors-descrp,
    .card {
        margin: 0 10px;
    }

    .sponsors-img-container img {
        width: 150px;
    }
}

/* ----->>Medium Device<-------- */
@media screen and (min-width: 576px) and (max-width: 960px) {

    /* header part responsive  */
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    ul li {
        margin: 30px;
    }

    .banner-title {
        font-size: 3rem;
        padding-top: 20px;
    }

    .banner-content {
        padding: 0 0 20px;
    }

    /* teams style */
    .teams-container {
        flex-direction: column;
    }

    .teams-content {
        padding-top: 30px;
    }

    .teams-content:last-child {
        text-align: center;
    }

    /* features responsive style */
    .features {
        gap: 20px;
    }

    .feature-description {
        margin: 0 20px;
    }

    .features-title {
        margin: 0 10px;
    }

    .card {
        margin: 0 20px;
    }

    /* facts style  */
    .facts-content {
        padding: 0 20px;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /* sponsors responsive */
    .sponsors-img-container {
        flex-wrap: wrap;
        align-items: center;
        padding: 0 20px;
        gap: 30px;
    }

    .sponsors-descrp {
        margin: 0 10px;
    }

    .sponsors-img-container img {
        width: 150px;
    }
}